*,
*::before,
*::after {
    box-sizing: border-box;
    font:inherit;
}

:root {
    /* background colors */
    --primary-bg-color: hsl(210 0 95);
    --buttons-bg-color: hsl(210 0 80);
    --cards-bg-color: hsl(210 0 100);

    /* hover color */
    --hover-color: hsl(210 1 60);
}

body {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-nav {
    padding: 0.3em 1em;
    background-color: var(--primary-bg-color);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-collections-logo {
    display: flex;
}

.book-logo-icon {
    width: 3rem;
    height: 3rem;
}

.book-logo-text {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 0.8;
    margin: auto;
}

.github-repo-link {
    text-decoration: none;
    color: hsl(0 0 0);
    font-weight: 600;
    background-color: var(--buttons-bg-color);
    border-radius: 10px;
    padding: 0.4em 0.8em;
    display: flex;
    align-items: center;
    gap: 0.5em
}

.github-repo-link:hover {
    background-color: var(--hover-color);
}

.filter-buttons {
    margin: 0.5em;
    display: flex;
    justify-content: center;
}

.filter-button {
    flex: 1;
    max-width: 85px;
    padding: 0.6em;
    margin: 0;
    background-color: var(--buttons-bg-color);
    border: none;
    position: relative;
    overflow: hidden;
}

.filter-button.all {
    border-radius: 10px 0 0 10px;
}

.filter-button.unread {
    border-radius: 0 10px 10px 0;
}

.filter-button:hover::after,
.filter-button:active::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    background-color: var(--hover-color);
    border-bottom: 3px solid green;
}

.filter-button.all:hover::after {
    content: 'All';
}

.filter-button.read:hover::after {
    content: 'Read';
}

.filter-button.unread:hover::after {
    content: 'Unread';
}

main {
    background-color: var(--primary-bg-color);
    padding: 2em;

    flex: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.books-list {
    display: contents;
}

.book-card {
    background-color: var(--cards-bg-color);
    border-radius: 10px;
    padding: 1.5em 1.5em;
    border: 1px solid hsl(0 0 95);
    box-shadow: 0px 0px 15px hsl(0 0 70);
}

.book-cover {
    color: hsl(0 0 100);
    font-family: cursive, Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em 0.5em 1em;
    margin-bottom: 2em;
    height: 230px;
    background-color: hsl(234 48 38);
    border-left: 9px solid hsl(234 48 14);
    box-shadow: 0px 8px 10px 1px hsl(0 0 45);
    overflow-wrap: break-word;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-cover .title {
    padding: 5px;
    font-size: 36px;
}

.book-cover .author {
    margin-top: auto;
    font-size: 1.25em;
    text-align: center;
}

.book-cover .pages {
    text-align: center;
    padding: 0.5em;
}

.actions {
    display: flex;
    gap: 5px;
}

.add-book {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 1em;
    bottom: 1em;;
    border: none;
    border-radius: 50%;
    color: hsl(0 0 100);
    background-color: hsl( 0 100 25);
    box-shadow: 0px 0px 10px hsl(0 0 0);
}

.add-book svg {
    position: relative;
    top: 1px;
    left: 1px;;
}

.actions button {
    padding: 0.25em 0.5em;
    background-color: var(--buttons-bg-color);
    border: none;
    border-radius: 10px;
}

.actions button:hover {
    background-color: var(--hover-color);
}

.actions svg {
    position: relative;
    top: 1.5px;
    width: 1.5rem;
    height: 1.5rem;
}

.actions .action-book-status {
    color: transparent;
}

.actions .action-book-status:hover {
    color: white;
    background-color: hsl(120 100 25);
}

.action-book-status {
    margin-right: auto;
}


footer {
    text-align: center;
    padding: 1em;
    background-color: hsl(210 0 70);
}